footer.footer
  .footer__container
    .container
      .row
        .col-12.col-sm-3
          h3.footer__heading DREAMSHARE
        .col-12.col-sm-3
          p.footer__head Company
          .d-flex.d-sm-block.justify-content-center
            p.footer__text About
            p.footer__text Contact
            p.footer__text Press
            p.footer__text Blog
          .d-flex.d-sm-block.justify-content-center
            p.footer__text Terms and Privacy
            p.footer__text Help
        .col-12.col-sm-3
          p.footer__head Partners
        .col-12.col-sm-3
          p.footer__designed DESIGNED BY
          img(src='./img/areto-logo.png', alt='areto-logo')
