.hero
  header.hero__header
    h2.hero__name.d-none.d-sm-block DREAMSHARE
    .hero__buttons
      a.hero__button.btn.text-light(href='#') Log in
      a.hero__outline.btn.text-light.rounded-5(href='#') Sign up
  h2.hero__small-name.text-center.d-block.d-sm-none DREAMSHARE
  h1.hero__heading.text-center
    | SHARE YOUR 
    br
    |         HOLIDAY DREAM
  h3.hero__second-heading.text-center
    | And find the perfect partner to fullfill it
  a.hero__main-button.btn.text-light.rounded-5.d-block(href='#') Find your holiday partner